<!--<md-grid-list cols="12">
  <md-grid-tile [colspan]="12">
    <h2>
      Some of the services we offer:
    </h2>
  </md-grid-tile>
   <md-grid-tile [colspan]="12"> 
    <p>Small and large volume electronics design development and manufaturing.</p>
   </md-grid-tile>
   <md-grid-tile [colspan]="12"> 
    <p>3D printing services</p>
   </md-grid-tile>
   <md-grid-tile [colspan]="12"> 
    <p>Modeling services.</p>
   </md-grid-tile>
   <md-grid-tile [colspan]="12"> 
    <p>Consulting on product marketing and manufacturing.</p>
   </md-grid-tile>
</md-grid-list>-->
<div class="servicespage">
  <md-card>
    <md-toolbar color="primary">     
      Some of the services we offer:
    </md-toolbar>
    <md-list>
      <md-list-item> 
        <p>-Small and large volume electronics design development and manufacturing.</p>
      </md-list-item>
      <md-list-item> 
        <p>-3D printing services</p>
      </md-list-item>
      <md-list-item> 
        <p>-Modeling services.</p>
      </md-list-item>
      <md-list-item> 
        <p>-Consulting on product marketing and manufacturing.</p>
      </md-list-item>   
    </md-list>
  </md-card>
</div>