<div class="aboutpage">
  <!--<md-grid-list cols="1" rowHeight="6:1">
    <md-grid-tile [colspan]="1">
      <md-card>
        <md-toolbar color="primary">ABOUT US</md-toolbar>
        <p>We are four friends that like making cool products, from concept to production you won't find a better value.</p>
      </md-card>
    </md-grid-tile>
    <md-grid-tile [colspan]="1">
      <md-card>    
        <md-toolbar color="primary">WHO WE ARE</md-toolbar>
        <p>Our founder wrote the book <a href="https://www.amazon.com/Electrical-Engineering-101-Third-Everything/dp/0123860016">Electrical Engineering 101</a>, considered a best seller in the engineering world you know you will have the right guy on your team! 
            Combined, our partners have 50 years of experince in electronics design, 3D modeling, prototyping and manufacturing.</p>
      </md-card>
    </md-grid-tile>    
    <md-grid-tile [colspan]="1">
      <md-card>        
        <md-toolbar color="primary">WHAT WE DO</md-toolbar>
        <p>Got a cool idea you want to take to market? An invention that needs design and manufacturing? We can help!</p>
      </md-card>
    </md-grid-tile>
  </md-grid-list>-->
  <br>
  <br>
  <md-card>
    <md-toolbar color="primary">ABOUT US</md-toolbar>
    <p>We are four friends that like making cool products, from concept to production you won't find a better value.</p>
  </md-card>
  <br>
  <md-card>    
    <md-toolbar color="primary">WHO WE ARE</md-toolbar>
    <p>Our founder wrote the book <a href="https://www.amazon.com/Electrical-Engineering-101-Third-Everything/dp/0123860016">Electrical Engineering 101</a>, considered a best seller in the engineering world you know you will have the right guy on your team! 
    Combined, our partners have 50 years of experince in electronics design, 3D modeling, prototyping and manufacturing.</p>
  </md-card>
  <br>
  <md-card>        
    <md-toolbar color="primary">WHAT WE DO</md-toolbar>
    <p>Got a cool idea you want to take to market? An invention that needs design and manufacturing? We can help!</p>
  </md-card>
</div>
