<div class="homeinfo">
  <md-grid-list cols="4" rowHeight="4rem">
    <md-grid-tile class="header" [colspan]="4"><p>Radd Development</p></md-grid-tile>
    <md-grid-tile class="subheader" [colspan]="4"><p>We make it happen</p></md-grid-tile>
  </md-grid-list>
  <md-grid-list cols="2" rowHeight="10rem">
    <md-grid-tile [colspan]="1"><a routerLink="/about" routerLinkActive="active" md-raised-button color="primary">About Us</a></md-grid-tile>
    <md-grid-tile [colspan]="1"><a routerLink="/services" routerLinkActive="active" md-raised-button color="primary">Our Services</a></md-grid-tile>
    <md-grid-tile [colspan]="1"><a routerLink="/contact" routerLinkActive="active" md-raised-button color="primary">Contact</a></md-grid-tile>
    <md-grid-tile [colspan]="1"><a routerLink="/works" routerLinkActive="active" md-raised-button color="primary">Our Works</a></md-grid-tile>
    <md-grid-tile></md-grid-tile>
  </md-grid-list>
</div>
